/* Mona Sans */

@font-face {
  font-family: 'Mona-Sans';
  font-weight: 200;
  font-display: block;
  src: url('./mona-sans/Mona-Sans-UltraLight.ttf');
}

@font-face {
  font-family: 'Mona-Sans';
  font-weight: 300;
  font-display: block;
  src: url('./mona-sans/Mona-Sans-Light.ttf');
}

@font-face {
  font-family: 'Mona-Sans';
  font-weight: 400;
  src: url('./mona-sans/Mona-Sans-Regular.ttf');
}

@font-face {
  font-family: 'Mona-Sans';
  font-weight: 500;
  src: url('./mona-sans/Mona-Sans-Medium.ttf');
}

@font-face {
  font-family: 'Mona-Sans';
  font-weight: 600;
  src: url('./mona-sans/Mona-Sans-SemiBold.ttf');
}

@font-face {
  font-family: 'Mona-Sans';
  font-weight: 700;
  src: url('./mona-sans/Mona-Sans-Bold.ttf');
}

@font-face {
  font-family: 'Mona-Sans';
  font-weight: 800;
  src: url('./mona-sans/Mona-Sans-ExtraBold.ttf');
}

@font-face {
  font-family: 'Mona-Sans';
  font-weight: 900;
  src: url('./mona-sans/Mona-Sans-Black.ttf');
}
